.grid-item{
  flex-between()
  .grid-item{
    display: flex;
    align-items: center;
  }
}
.preview-item {
  flex-between()
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  .logo{
    width: 180px;
    height: 180px;
  }
  .content{
    flex: 1;
    flex-between(column)
    padding-left: 20px;
    height: 180px;
    font-size: 28px;
    .title{
      font-weight: bold;
      color: rgb(97, 97, 97);
      font-size: 30px
    }
    .time-price{
      color: rgb(77, 77, 77);
      display: flex;
      align-items: center;
      .time-icon{
        width: 37px;
        height: 37px;
        margin-right: 10px;
        bg-image('time-icon')
      }
      .price{
        color: rgb(77, 77, 77);
      }
    }
    .location-addr-apply{
      .location-icon{
        width: 30px;
        height: 42px;
        margin-right: 10px;
        bg-image('location-icon')
      }
      .apply{
        width: 100px;
        height: 40px;
        background-color: #e51c23;
        border-radius: 10px;
        color: #fff;
        flex-center()
        &.holding {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

.loading-container
  position: absolute
  width: 100%
  top: 50%
  transform: translateY(-50%)
