$--font-size-mini-extra: 10px;
$--font-size-mini: 12px;
$--font-size-default: 14px;
$--font-size-medium: 15px;
$--font-size-medium-extra: 16px;
$--font-size-large: 18px;
$--font-size-large-extra: 20px;

$--color-black: #333;
$--color-black2: #666;
$--color-black3: #999;
